body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f8;
}

.MuiContainer-root {
  padding-top: 20px;
}

.MuiPaper-root {
  margin-bottom: 20px;
  padding: 20px;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
}

.MuiButton-containedPrimary:hover {
  background-color: #115293;
}

.MuiListItem-root {
  background-color: white;
}
